<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    </link>
    <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', filename='favicon.svg') }}">
    </link>

</head>

<body style="text-align: center;">
    <h3>Hello and Welcome to My Money Portfolio!</h3>
    <div style="display: grid; grid-template-columns: 50% 50%;">
        <div style="text-align: center;">
            <p style="text-align: left;"> My name is Ben Drucker. As of May 2021, I am a rising senior at <a
                    href=https://www.swarthmore.edu />Swarthmore College</a> (Go Garnet!). I am majoring in mathematics
                and computer science.</p>
        </div>
        <div style="text-align: center;">
            <img src="../static/Images/11CDC691-89EE-4167-B68C-A4523BF0BA0C_1_105_c.jpeg"
                style="box-shadow: 5px 5px black; border-radius: 10px; border: solid black 5px; width: 50%;"></img>
        </div>
    </div>
</body>



</html>