<!DOCTYPE html>
<html>

<head>
    <title>How it Works</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"">
    </link>
    <link rel=" shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    </link>
</head>

<body>
    <ul>
        <li onclick="window.location.replace('http:\/\/mymoneyportfol.io/main')"> Home </li>
        <li onclick="document.location.replace('http:\/\/about.mymoneyportfol.io/');"> About Me</li>
        <li onclick="window.location.reload();"> How does it work?</li>
        <li onclick="window.location.replace('http:\/\/mymoneyportfol.io/')"> Login </li>
    </ul>
    <p> Placeholder Text</p>
</body>




</html>