<!DOCTYPE html>
<html>

<head>

    <title> Login </title>
    <link href="../static/css/styles.css" rel="stylesheet">

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    </link>


</head>
<ul>
    <li onclick="window.location.replace('http:\/\/about.mymoneyportfol.io:8080/');"> About Me</li>
    <li onclick="document.location.replace('http:\/\/about.mymoneyportfol.io:8080/howitworks');"> How does it work?</li>
    <li onclick="document.location.reload();"> Login </li>
</ul>
<h1> Welcome to the Portfolio Analyzer!</h1>
<h3> Please Log In.</h3>
<div id="form_div">
    <form>
        <label>
            Username
        </label>
        <input type="text" onclick="classList.add('popped');"></input>
        <br>
        <label>
            Password
        </label>
        <input type="password" id="hiddenPassword"></input>
        <br>
        <button type="submit" class="submit_button"> Submit </button>
    </form>
    <p> Or...</p>
    <button type="submit" class="guest_button" onclick="window.location.href = 'main';">
        Sign in as guest
    </button>
</div>

</body>

</html>