<!DOCTYPE html>
<html>

<head>
    <title>Portfolio</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

    <link rel="stylesheet" href="static/css/styles.css">
    <script src="../static/js/scripts.js"></script>

    <link rel="preload" href="../static/css/fonts/Fira Code/FiraCode-Regular.woff2" as="font" crossorigin="anonymous" />
    <link rel="preload" href="../static/css/fonts/Fira Code/FiraCode-Medium.woff2" as="font" crossorigin="anonymous" />
    <link rel="preload" href="../static/css/fonts/Fira Code/FiraCode-Light.woff2" as="font" crossorigin="anonymous" />

</head>

<body>

    <div>
        <h1>Welcome to the portfolio analyser!</h1>
    </div>
    <div>
        <button type="button" id="addBankButton" class="bank" onclick="largeDiv('bank_popout');">
            Click here to add a bank 🏦
        </button>
    </div>
    <div class="grid">
        <div class="grid_item"></div>
        <div class="popout grid_item" id="bank_popout" hidden="true">
            <p>We use <a href="http://www.plaid.com">Plaid</a> to connect your financial institution.</p>
            <button type="button" class="plaid_button" onclick="plaid_init();">
                Click here to use Plaid.
            </button>
            <h5 id="resultsHeader" hidden = true>Please select which accounts you'd like to import:</h5>
            <p id="results" hidden = true>
                
            </p>
        </div>
        <div class="grid_item"></div>
    </div>
    <div>
        <button type="button" id="addCryptoButton" class="crypto" onclick="largeDiv('crypto_popout')">
            Click here to add a crypto 🔒
        </button>
    </div>
    <div class="grid">
        <div class="grid_item"></div>
        <div class="popout grid_item" id="crypto_popout" hidden="true">
            <p>This is a popout!</p>
        </div>
        <div class="grid_item"></div>
    </div>
    <div>
        <button type="button" id="addStockButton" class="stock" onclick="largeDiv('stock_popout')">
            Click here to add stock 📈
        </button>
    </div>
    <div class="grid">
        <div class="grid_item"></div>
        <div class="popout grid_item" id="stock_popout" hidden="true">
            <p>This is a popout!</p>
        </div>
        <div class="grid_item"></div>
    </div>
</body>
<button id="home" type="button" onclick="window.location.href = '/';">
    Go back home.
</button>

<div id="message_hider" hidden=true>
    <div id="messages_div">
        <div class=message_grid_item><img src='../static/Images/alert-circle.svg' id="info_icon"></img></div>
        <div class=message_grid_item id="message_grid_item_p">
            <p id="messages" style="text-align: center;"></p>
        </div>


    </div>
</div>

</html>